<div class="page-body">
  <div class="row">

    <!-- amount start -->
    <div class="col-md-6 col-xl-4">
      <div class="card amount-card o-hidden">
        <div class="card-block">
          <h2 class="f-w-400">1</h2>
          <p class="text-muted f-w-600 f-16"><span class="text-c-blue">Ventas</span> Realizadas</p>
        </div>
        <div id="amount-processed" style="height:50px"></div>
      </div>
    </div>
    <div class="col-md-6 col-xl-4">
      <div class="card amount-card o-hidden">
        <div class="card-block">
          <h2 class="f-w-400">1</h2>
          <p class="text-muted f-w-600 f-16"><span class="text-c-green">Clientes</span> Registrados</p>
        </div>
        <div id="amount-spent" style="height:50px"></div>
      </div>
    </div>
    <div class="col-md-12 col-xl-4">
      <div class="card amount-card o-hidden">
        <div class="card-block">
          <h2 class="f-w-400">1</h2>
          <p class="text-muted f-w-600 f-16"><span class="text-c-yellow">Productos</span> en el sistema</p>
          <p></p>
        </div>
        <div id="profit-processed" style="height:50px"></div>
      </div>
    </div>
    <!-- amount end -->
    
  </div>
</div>
